.loader {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100vh;

    background-color: transparentize($color: $blue, $amount: 0.35);
}

.loader__canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.loader__container {
    position: relative;

    height: 100vh;
}

.loader__progress {
    position: absolute;
    left: 0;
    bottom: 0;

    color: $white;

    font-size: rem(100px);
    font-weight: 400;

    //to remove
    display: none;
}