.start-screen {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: calc(var(--vh, 1vh) * 100);

    background-color: transparentize($color: $blue, $amount: 0);
    opacity: 0;
    
    transition: opacity 1s $Power1InOut;

    pointer-events: none;

    &.is-active {
        pointer-events: all;
        opacity: 1;
    }
}

.start-screen__canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.start-screen__container {
    position: relative;

    height: 100vh;
}

.start-screen__start-button-container {
    display: flex;
    align-items: center;

    position: absolute;
    right: 0;
    bottom: 60px;
}

.start-screen__start-button {
    position: relative;

    width: 60px;
    height: 60px;

    cursor: pointer;

    &:hover {
        .start-screen__start-button-circle {
            transform: scale(1.2);
        }
    }
}

.start-screen__start-button-label-container {
    position: relative;

    margin-right: 30px;

    font-size: rem(15px);
    line-height: rem(20px);
    font-weight: 100;

    height: rem(20px);
    width: 500px;

    text-align: right;

    overflow: hidden;
}

.start-screen__start-button-label {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    width: 100%;
    height: 100%;

    white-space: nowrap;

    transform: translateY(100%);
}

.start-screen__start-button-arrow {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    margin: auto;

    width: 13px;
    height: 13px;
    
    transform: rotate(90deg) translateX(-50%);

    opacity: 0;
}

.start-screen__start-button-circle {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    margin: auto;

    width: 60px;
    height: 60px;

    overflow: visible;

    transition: transform 0.8s $Power3Out;

    circle {
        fill: transparent;
        stroke: $white;
        opacity: 0.5;
        transform-origin: center;
    }

    &--placeholder {
        opacity: 0;
    }

    &--loading {
        circle {
            fill: transparent;
            stroke: $white;
            opacity: 1;
            stroke-width: 2;
            stroke-dasharray: 220;
            stroke-dashoffset: 220;
      
            transform: rotate(180deg);
            transform-origin: center;
            transition: stroke-dashoffset 1.3s cubic-bezier(.74,0,.24,.99), transform 1.3s cubic-bezier(.74,0,.24,.99); 
        }
    }
}


//TO REMOVE
.start-screen__progress {
    position: absolute;
    left: 0;
    bottom: 0;

    color: $white;

    font-size: rem(100px);
    font-weight: 400;

    //to remove
    display: none;
}