.container {
    position: relative;
    width: calc(100% - 80px);

    margin: auto;

    box-sizing: border-box;
}

@include mq-extra-narrow {
    .container {
        width: calc(100% - 40px);
    }
}