.heading {
    font-size: rem(36px);
    line-height: rem(36px);
    letter-spacing: -1px;
    font-family: $exo;
    font-weight: 500;
    text-transform: uppercase;
}

.paragraph {
    font-size: rem(14px);   
    font-family: $exo;
    font-weight: 100;
}


@include mq-regular {
    .heading {
        
    }
    
    .paragraph {
        
    }
}

@include mq-extra-narrow {
    .heading {
        font-size: rem(30px);
        line-height: rem(30px);
    }
    
    .paragraph {

    }
}