.page-home {
    position: relative;

    width: 100%;
}

.page-home__container {
    position: relative;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.page-home__heading {
    font-size: 100px;
    text-transform: uppercase;
}